.accordion {
    max-width: 700px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    overflow: hidden;
    margin-top: 50px;
  }
  .accordion-item + .accordion-item {
    border-top: 1px solid #eee;
  }
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 18px 24px;
    font-weight: 600;
    font-size: 18px;
    background: #e91e63;
    color: white;
    user-select: none;
    transition: background 0.3s ease;
  }
  .accordion-title:hover {
    background: #45a049;
  }
  .accordion-title .icon {
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  .accordion-title.active .icon {
    transform: rotate(90deg);
  }
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease, padding 0.35s ease;
    padding: 0 24px;
    background: #fefefe;
  }
  .accordion-content p {
    margin: 15px 0 20px;
    line-height: 1.5;
  }
  .accordion-content.open {
    /* padding: 15px 24px 20px; */
  }
  /* Подсветка важных слов */
  .highlight {
    color: #388e3c;
    font-weight: 700;